*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top {
    background-color: #f46b50;
    height: 100vh;
}
.
.projects {
    background-color: #ede6e2;
}
.experience {
    background-color: #5bc3eb;
}
.top {

}
footer {
    background-color: #35382e;
}